---
---

@import "{{ site.theme }}";

h4 {
  margin-top: 10px;
}

.post {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site_header {
  width: 800px;
  margin-top: 20px;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}
